 
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
  
.masthead {
    z-index: 1;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 56px;
    top: 0;
    left: 0;
}

.container { 
    /* background-color: rgba(55, 160, 160, .5); */
    position: relative;
    width: 99%;
    height: 56px; 
    margin: 0 auto; 
}

.start {
    /* background-color: #a7ffff; */
    display: inline-block;
    position: relative;
    width: 169px;
    height: 56px; 
    margin: 0 auto;
    float: left;
}

.guide-button { 
    top: 8px;
    /* background-color: #d7ffff; */
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px; 
    padding: 8px;
    margin: auto auto;
    cursor: pointer;
}

.hamburger {  
    display: inline-block; 
    position: absolute;
    width: 44px;
    height: 44px;   
    bottom: .1px;
    left: 4px;
}


.logo {
    /* background-color: #d7ffff; */
    display: inline-block;
    position: relative;
    width: 129px;
    height: 56px; 
    float: right;
    cursor: pointer;
}

.ytlogo {
    /* background-color: #d7ffff; */
    position: relative; 
    left: 19px;
    width: 97px;
    height: 54px;
    top: 1px;
    cursor: pointer; 
}

.center { 
    position: relative;
    left: 19.8%;
    display: inline-block;
    top: 8px;
    width: 728px;
    height: 40px;
}

.searchbox {
    /* background-color: #d7ffff; */
    display: inline-block;
    top: 8px;
    width: 635px;
    height: 40px;
    padding: 0px 4px;
    margin-left: 35px;
    cursor: text;
}

.searchbar { 
    border: 1px solid;
    border-color: #ccc;
    background-color: white;
    display: inline-block;
    position: absolute;
    width: 572px;
    height: 40px; 
    text-indent: 9px;
    font-size: 16px; 
    box-shadow: inset 0px, 0px, 20px, 10px, black;
}

#query:focus {
    box-shadow: 3px, 4px, 5px, 000;
    outline-color: rgb(46, 46, 131);    
    outline- : 3px;
}

.search-button {
    background-color: rgb(239, 239, 239);
    border: 1px solid;
    border-color: #ccc;
    display: inline-block;
    top: 8px;
    width: 64px;
    height: 40px;
    padding: 0px 6px;
    float: right;
    cursor: pointer;
    /* background: url(../03_search_icon.png) */
}

#search_icon {
    position: absolute;
    width: 18px;
    height: 17px;
    top: 11px; 
    right: 77px;
}

.voice {
    background-color: #F9F9F9;
    border-radius: 50%;
    position: absolute;
    display: inline-block; 
    width: 40px;
    height: 40px; 
    margin-left: 4px; 
    cursor: pointer; 
}

#mic_icon { 
    position: absolute;
    left: 13px; 
    top: 11px;
    width: 13px;
    height: 18px; 
}

.end {
    /* background-color: #a7ffff; */
    position: relative;
    display: inline-block;
    width: 252px;
    height: 40px;  
    top: 8px;
    left: 39%;
}

.pockettube {
    /* background-color: #d7ffff; */
    display: inline-block; 
    width: 40px;
    height: 40px;  
    cursor: pointer; 
}

#tag_icon { 
    position: absolute; 
    top: 12px;
    width: 19px;
    height: 17px; 
}

.profile-buttons {
    /* background-color: #d7ffff;  */
    display: inline-block;
    width: 204px;
    height: 40px;  
    float: right;
}

.apps {
    /* background-color: #f1ffff; */
    display: inline-block; 
    width: 40px;
    height: 40px; 
    margin-right: 4px;  
    cursor: pointer; 
}

#apps_icon { 
    position: absolute;
    left: 50px; 
    top: 12px;
    width: 16px;
    height: 16px; 
}

.settings {
    /* background-color: #f1ffff; */
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px; 
    margin-right: 4px;  
    cursor: pointer;  
}

#settings_icon { 
    position: absolute;
    left: 8px; 
    top: 12px;
    width: 4px;
    height: 16px; 
}

.signin {
    /* background-color: #f1ffff; */
    display: inline-block;
    position: relative;
    width: 108px;
    height: 40px;  
    cursor: pointer; 
}

#signin_icon { 
    position: absolute;
    right: 9px; 
}
 
.columns {
    /* background-color: #246868; */
    position: absolute;
    display: inline-block; 
    background-color: #F9F9F9;
    top: 56px;
    width: 92%;
    height: 100%;
    margin-left: 4%;
    margin-right: 4%;
}

.primary {
    /* background-color: #69cbcb; */
    position: absolute;
    display: inline-block; 
    width: 72%;
    height: 100%; 
    padding-top: 24px;
    padding-right: 24px;
    margin-left: 24px;  
}

.primary-inner {
    /* background-color: #a4caca;  */
    position: absolute;
    left: 24px;
    top: 24px;
    display: block; 
    width: 72%;
    height: 100%;  
}

.player {
    background-color: #d1ecec; 
    position: relative; 
    display: block; 
    width: 101.55%;
    height: 76%;   
    right: 9px;
}

.video {
    width: 100%;
    height: 100%;
}

.info {
    /* background-color: #c4e2e2;   */
    position: absolute;  
    width:  1280px;
    height: 95px;   
    right: -10px;
    top: 720px;
    border-bottom: 1px solid #E0E0E0;
}


.vname {
    position: relative;
    top: 8px;
    width: 1280px;
    height: 26px; 
}

#vname {
    font-family: 'Roboto', sans-serif;
    font-size: 17.6px;
    font-weight: 400;
    line-height: 26px;
}

.interact {
    position: absolute;
    width: 1280px;
    height: 40px; 
}

#views {
    position: absolute;
    float: left;
    top: 15px;
    color: rgb(96, 96, 96)
}
        
.clicklike {
    /* background-color:rgb(73, 135, 163); */
    position: relative;
    top: 10px;
    float: right;
    width: 375px;
    height: 40px;
}

.like { 
    display: inline-block;
    width: 70px;
    height: 40px;
}

#like_icon {
    position: absolute;
    height: 18px;
    top: 11px;
}

.dislike { 
    display: inline-block;
    width: 58px;
    height: 40px;
    margin-left: 4px;
}

#dislike_icon {
    position: absolute;
    height: 18px;
    top: 11px;
}

.share { 
    display: inline-block;
    width: 58px;
    height: 40px;
}

#share_icon {
    position: absolute;
    height: 18px;
    top: 11px;
}

.save {
    display: inline-block;
    width: 50px;
    height: 40px;
    margin-left: 22px;
}

#save_icon { 
    position: absolute;
    height: 12px;
    top: 14px;
}

.report {
    display: inline-block;
    width: 20px;
    height: 12px;
    float: right;
    margin-right: 20px;
}

#report_icon { 
    position: absolute;
    height: 6px; 
    bottom: 16px;
}

#underline {
    position: relative;
    display: block;
    float: left;
    width: 120px;
    height: 2px;
    bottom: 0px;
    background-color: black;
}

.meta {
    /* background-color: #e1f1f1;   */
    position: relative;  
    width:  101.55%;
    height: 184px;   
    top: 95px;
    right: 10px;
}

.comments {
    background-color: #a0b9b9;  
    position: relative;  
    width:  101.55%;
    height: 100%;   
    top: 95px;
    right: 10px;    
}

.secondary { 
/* background-color: #a7eeee;  */
display: inline-block; 
width: 408px;
height: 100%; 
padding-top: 16px;
padding-right: 24px; 
float: right;
}

.secondary-inner { 
    /* background-color: #c7eeee;  */
    display: inline-block;
    width: 408px;
    height: 100%; 
    float: left; 
    }
 
/* .scroll-container  { 
    background-color: #b9e7e7; 
    display: inline-block; 
    width: 100%;
    height: 51px; 
    }

.all {
    background-color: #92c7c7; 
    cursor: pointer;
    position: relative;
    float: left;
    width: 17px;
    height: 30px;
    padding: 0px 12px;
    margin: 8px 8px 8px 0px;
    top: 3px;
}

.forging {
    background-color: #92c7c7; 
    cursor: pointer;
    position: relative;
    float: left;
    width: 48px;
    height: 30px;
    padding: 0px 12px;
    margin: 8px 8px 8px 0px;
    top: 3px;
}

.related {
    background-color: #92c7c7; 
    cursor: pointer;
    position: relative;
    float: left;
    width: 48px;
    height: 30px;
    padding: 0px 12px;
    margin: 8px 8px 8px 0px;
    top: 3px;
}

.workshop {
    background-color: #92c7c7; 
    cursor: pointer;
    position: relative;
    float: left;
    width: 138px;
    height: 30px;
    padding: 0px 12px;
    margin: 8px 8px 8px 0px;
    top: 3px;
}

.scrollmore {
    background-color: #73cece; 
    z-index: 1;
    position: absolute;
    cursor: pointer;
    display: inline-block; 
    width: 56px;
    height: 30px;
    padding: 0px 12px;
    margin: 8px 8px 8px 0px;
    top: 27px;
    right: 16px;
    float: right;
} */

.sidebar { 
    /* background-color: #e8f3f3;  */
    display: block; 
    width: 418px;
    height: 100%;  
    float: left;
}

.result { 
    background-color: #95d3d3; 
    display: block; 
    width: 402px;
    height: 94px;  
    float: left;
    margin-top: 8px;
}

.morevid { 
    background-color: #baf8f8; 
    display: block; 
    width: 168px;
    height: 94px;  
    float: left;
    margin-right: 8px;
    cursor: pointer;
}

.about { 
    background-color: #baf8f8; 
    display: block; 
    width: 226px;
    height: 94px;  
    float: left;
    cursor: pointer;
}